# Secret environment files
.env
*.env

# Folder containing encrypted private keys
keystore/

# Large folder of dependencies that can be regenerated
node_modules/

# Log files
*.log

# Blockchain data folders (very large and not needed)
infrastructure/geth-nodes/*/data/

# OS-specific files
.DS_Store
Thumbs.db
